
body{
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    gap: 30px;
    background-color: azure;
}

.outer-cup{
    height: 210px;
    width: 210px;
    border: 10px solid black;
    border-radius: 20px 20px 60px 60px; 
    overflow: hidden;
}

.inner-cup{
    height: 0%;
    width: 100%;
    border: none;
    background-color: dodgerblue;

    transition: height 0.3s ease;
}

.control-panel{
    height: 150px;
    width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.add-btns{
    font-size: 20px;
    height: 30px;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    font-size: 25px;
    height: 30px;
    text-align: center;
    background-color: navy;
}


